In [16]:
import pandas as pd
import sqlite3

In [2]:
#reading in the csv file and putting it into a dataframe
file_path = 'Resources/diabetes_prediction_dataset.csv'

# Use pandas to read the CSV file into a DataFrame
diabetes_df = pd.read_csv(file_path)
diabetes_df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [11]:
#adding new column with binned age
bins = [0,12,18,35,65,80]
labels= ['children','teen','young adult','adult','senior']
diabetes_df['binned_age'] = pd.cut(diabetes_df['age'],bins=bins,labels=labels)
diabetes_df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,binned_age
0,Female,80.0,0,1,never,25.19,6.6,140,0,senior
1,Female,54.0,0,0,No Info,27.32,6.6,80,0,adult
2,Male,28.0,0,0,never,27.32,5.7,158,0,young adult
3,Female,36.0,0,0,current,23.45,5.0,155,0,adult
4,Male,76.0,1,1,current,20.14,4.8,155,0,senior
...,...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0,senior
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0,children
99997,Male,66.0,0,0,former,27.83,5.7,155,0,senior
99998,Female,24.0,0,0,never,35.42,4.0,100,0,young adult
99999,Female,57.0,0,0,current,22.43,6.6,90,0,adult

In [12]:
#dropping null values
refined_diabetes_df = diabetes_df[diabetes_df != 'No Info'].dropna()

In [13]:
#cleaning up typos - changing ever to never
refined_diabetes_df['smoking_history'] = refined_diabetes_df['smoking_history'].replace('ever', 'never')

In [14]:
#verifying value counts
refined_diabetes_df['smoking_history'].value_counts()

never          39099
former          9352
current         9286
not current     6447
Name: smoking_history, dtype: int64

In [20]:
# Creating an SQLite database file
database_name = 'diabetes_info.db'
conn = sqlite3.connect(database_name)

In [21]:
#Exporting DataFrame to the SQLite database
refined_diabetes_df.to_sql('diabedes_prediction', conn, index=False, if_exists='replace')

64184

In [22]:
conn.close()